body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #e6f6ec;
    }

      .imagens-comida{
        width: 350px;
        height: 500px;
        border-radius: 5%;
        background-color: #ffffff;
        order: 1;
      }

      .texto-receita {
        font-size: 25px;  
        order: 1;
        width: 50%;
        color: white;
      }

    .titulo{
      text-align: center;
      color: #7D8758;
      font-size: 40px;
      padding-top: 30px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    header {
      height: 150px;
      background-color: #7f8f5a;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 40px;
      font-size: 18px;
    }

    .nav-left {
      font-size: 25px;
      letter-spacing: 1px;
    }

    .nav-right {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .icon-btn {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
    }

    .user-icon {
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 50%;
    }

    .categories-container {
      margin: 60px auto;
      width: 90%;
      background-color: #7f8f5a;
      padding: 50px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;
    }
    .links
    {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }
    .category {
      width: 400px;
      height: 300px;
      padding: 10%;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .category:hover {
      transform: scale(1.08);
    }

    .info-receita {
      font-size: 20px;
      display: flex;
      gap: 20px; 
    }
