@import url("style.css");

.login-options {
  justify-content: space-evenly;
}

.modal-box h2 {
  color: var(--cor-alerta-erro-login);
  margin-top: 0;
}
.modal-box button {
  background-color: var(--cor-alerta-erro-login);
  color: var(--cor-texto-cabecalho);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.modal-box button:hover {
  background-color: var(--cor-alerta-erro-login-hover);
}
