body {
    /* Define a fonte e o fundo da página */
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    /* Centraliza o conteúdo na vertical e horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    /* Estilo para a caixa de login */
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Largura fixa para o formulário */
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    /* Espaçamento entre os campos de input */
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block; /* Garante que o label ocupe sua própria linha */
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    /* Estilo para os campos de texto e senha */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

button[type="submit"] {
    /* Estilo para o botão de login */
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    /* Efeito ao passar o mouse sobre o botão */
    background-color: #4cae4c;
}

.login-options{
    margin-top: 15px;
    font-size: 12px;
    display: flex;
    justify-content:space-evenly;
}

.login-options a {
    color: #007bff;
    text-decoration: none;
}

.login-options a:hover {
    text-decoration: underline;
}



/* cabeçalho */
.cabecalho-navegacao{
    background-color: #4CAF50;
    /* formato como exibe o conteúdo */
    display: flex; /*ativa align e justify*/
    align-items: center; /*alinhamento vertical*/
    justify-content: space-between; /*alinhamento horizontal dos itens(space-between = espaçar entre*/
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed; /* Fixa o elemento em relação à viewport */
    top: 0;          /* Alinha ao topo da viewport */
    left: 0;         /* Alinha à esquerda da viewport */
    width: 100%;     /* Garante que ele ocupe toda a largura */
    z-index: 1000;
}

.cabecalho-navegacao nav a {
    color: white;
    font-weight: 600; /*negrito*/
    padding: 15px;
    text-decoration: none; /*decoração do texto: linhas e tal*/
}