@import url("crud_usuario_style.css");

.login-options {
  justify-content: space-evenly;
}

.modal-box h2 {
  color: var(--cor-alerta-erro-login);
  margin-top: 0;
}
.modal-box button {
  background-color: var(--cor-alerta-erro-login);
  color: var(--cor-texto-cabecalho);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.modal-box button:hover {
  background-color: var(--cor-alerta-erro-login-hover);
}

label {
  display: block; /* Garante que o label ocupe sua própria linha */
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  /* Estilo para os campos de texto e senha */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
  font-size: 14px;
  font-family: inherit;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #5cb85c;
  box-shadow: 0 0 5px rgba(92, 184, 92, 0.3);
}

button[type="submit"] {
  /* Estilo para o botão de login */
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  /* Efeito ao passar o mouse sobre o botão */
  background-color: #4cae4c;
}

.login-options {
  margin-top: 15px;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
}

.login-options a {
  color: #007bff;
  text-decoration: none;
}

.login-options a:hover {
  text-decoration: underline;
}

/* cabeçalho */
.cabecalho-navegacao {
  background-color: #4caf50;
  /* formato como exibe o conteúdo */
  display: flex; /*ativa align e justify*/
  align-items: center; /*alinhamento vertical*/
  justify-content: space-between; /*alinhamento horizontal dos itens(space-between = espaçar entre*/
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed; /* Fixa o elemento em relação à viewport */
  top: 0; /* Alinha ao topo da viewport */
  left: 0; /* Alinha à esquerda da viewport */
  width: 100%; /* Garante que ele ocupe toda a largura */
  z-index: 1000;
}

.cabecalho-navegacao nav a {
  color: white;
  font-weight: 600; /*negrito*/
  padding: 15px;
  text-decoration: none; /*decoração do texto: linhas e tal*/
}
